.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_logo_img {
    background-color: blue;
    width: fit-content;
}

.header_logo_img_Image {
    filter: invert();
    width: 60px;
}

.header_logo_title {
    font-weight: bold;
    font-size: x-large;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}